<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <ul class="cart__item-list">
        <% products.forEach(product => { %>
            <li class="cart__item">
                <h1><%= product.productId.title %></h1>
                <h2>Quantity: <%= product.quantity %></h2>
            </li>
        <% }) %>
    </ul>
    <div class="centered">
        <h1>Total: $<%= totalSum %></h1>
    </div>
    <div class="centered">
        <button id="order-btn" class="btn">ORDER</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            const stripe = Stripe("pk_test_51LBJDxGcitZaCcIZaGi1PDWxtF493w1LdBg3JXmZJvCTEqEhdKo11Y6FzxOPs54w1VrjbdSX0pkDJWveCSTKMZvU00JSPrUIl4")
            const orderBtn = document.getElementById("order-btn")
            orderBtn.addEventListener("click", (event) => {
              event.preventDefault();
              stripe.redirectToCheckout({
                sessionId: "<%= sessionId %>"
              });
            });
        </script>
    </div>
</main>
<%- include('../includes/end.ejs') %>